* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
}

header h2 {
  margin-left: 100px;
}

main {
  background-color: #060606;
  min-height: 1760px;
  padding: 20px;
}

main h1 {
  color: white;
  margin-left: 100px;
  padding-bottom: 20px;
}

main #filtro {
  color: white;
  margin-left: 100px;
  margin-right: 10px;
}
main .filtrar {
  padding-top: 20px;
  padding-bottom: 20px;
}
select {
  padding: 6px;
  border-radius: 2px;
  border: none;
}
#tipos {
  display: flex;
  color: white;
  margin-left: 95px;
  gap: 20px;
}

.listas {
  background-color: white;
  color: black;
  margin: 30px 0 0px 95px;
  padding: 20px;
  border-radius: 3px;
  width: 1000px;
  display: flex;
  align-items: center;
  gap: 300px;
}
.listas > div {
  line-height: 30px;
}
div.botoes {
  display: flex;
  gap: 20px;
}
button {
  border: 0;
  border-radius: 2px;
  color: white;
  padding: 8px 20px;
  background: #165aec;
  cursor: pointer;
}

button:hover {
  transition: 0.2s;
  background: #072b7a;
}
